name: Builds

on: [ push ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          lfs: true

      - name: Checkout LFS objects
        run: git lfs checkout


      - name: Create Build Environment
        # Some projects don't allow in-source building, so create a separate build directory
        # We'll use this as our working directory for all subsequent commands
        run: |
          sudo apt update
          sudo apt install clang-10 clang-tidy-10 clang-format-10 openjdk-8-jre pkg-config uuid-dev
          sudo apt install llvm-10 llvm-10-dev
          sudo apt install llvm llvm-dev
          sudo apt remove llvm-6.0 llvm-8 llvm-9 llvm-6.0-dev llvm-8-dev llvm-9-dev
          sudo apt autoremove
          cmake -E make_directory ${{runner.workspace}}/build

      - name: Configure CMake
        # Use a bash shell so we can use the same syntax for environment variable
        # access regardless of the host operating system
        shell: bash
        working-directory: ${{runner.workspace}}/build
        # Note the current convention is to use the -S and -B options here to specify source
        # and build directories, but this is only available with CMake 3.13 and higher.
        # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
        run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_C_COMPILER=clang-10 -DCMAKE_CXX_COMPILER=clang++-10

      - name: Build
        working-directory: ${{runner.workspace}}/build
        shell: bash
        # Execute the build.  You can specify a specific target with "--target <NAME>"
        run: cmake --build . --config $BUILD_TYPE

      - #name: Clang-Format
        #working-directory: ${{runner.workspace}}
        #shell: bash
        #run: clang-format-10 -style=file -Werror -dry-run ${{runner.workspace}}/CuMat-Compiler/src/**/src/*.cpp ${{runner.workspace}}/CuMat-Compiler/src/**/inc/*.hpp

      - name: Clang-Tidy
        working-directory: ${{runner.workspace}}
        shell: bash
        run: clang-tidy-10 -p ${{runner.workspace}}/build/compile_commands.json -checks=readability-*,-readability-convert-member-functions-to-static,bugprone-*,clang-analyzer-*,modernize-*,cppcoreguidelines-*,-modernize-use-trailing-return-type,misc-redundant-expression,misc-misplaced-const,misc-new-delete-overloads,misc-definitions-in-headers,misc-non-copyable-objects,misc-static-assert,misc-throw-by-value-catch-by-reference,misc-unconventional-assign-operator,misc-unused-using-decls -warnings-as-errors=* -header-filter="${{runner.workspace}}/CuMat-Compiler/src/.*" ${{runner.workspace}}/CuMat-Compiler/src/compiler/src/main.cpp

      - name: Test
        working-directory: ${{runner.workspace}}/build
        shell: bash
        # Execute tests defined by the CMake configuration.
        # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
        run: ctest -C $BUILD_TYPE --output-on-failure
